* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #0ef;
    --primary-color: #081b29;
    --text-color: #ededed;
    --primary-text-color: #fff;
    --primary-text-color: #fff;
    --primarire-bg-color-0: #0a0a0a;
    --primarire-bg-color-1: #0a0a0a;
    --primarire-bg-color-2: #626262;
    --primarire-bg-color-3: #eb4d01;
    --primarire-bg-color-4: #21252b;
    --red-light: #eb3223;
    --borders: #323238;
    --brClo-cnt: #e50914;
}

html {
    font-size: 62.5%;
    outline: hidden;
}

body {
    background: var(--primary-color);
    color: var(--primary-text-color);
}

.wrapper {
    gap: 1.5rem;
}

.wrapper h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 1.2;
    letter-spacing: -.019em;

    color: var(--primarire-bg-color-3);
}

.wrapper p {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.10rem;
    line-height: 1.2;
    letter-spacing: -.019em;
    color: white;
}



.container_home {
    background-color: #323238;
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    position: relative;
    height: 768px;
}

.wrapper-container {
    background: #0ef;
}

.profession-container {
    position: relative;

    /* transform: translateX(-50%); */
    /* width: 768px;
    height: 768px; */
    /* background: red; */
    outline: hidden;
    pointer-events: none;

}

.profession-box {
    /* position: absolute; */
    /* top: 0;
    right: 0; */
    position: relative;
    width: 768px;
    height: 768px;
    background: #eb4d01;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profession-box .profession {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #1f242d;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
}